@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leaflet-tile-filter: brightness(0.9) contrast(1.1);
}

body {
  @apply bg-slate-50 text-slate-900 min-h-screen;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
